.mdnSearchBtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease-out;
  flex-shrink: 0;
}
