body {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.main {
  color-scheme: light dark;
  --text-1: light-dark(hsl(0deg 0% 14%), hsl(0deg 0% 94%));
  --surface-1: light-dark(hsl(0deg 0% 94%), hsl(0deg 0% 14%));
  --surface-2: light-dark(hsl(0deg 0% 90%), hsl(0deg 0% 20%));
  --border-color: light-dark(hsl(0deg 0% 80%), hsl(0deg 0% 30%));

  min-height: 100dvh;

  font-family: system-ui, sans-serif;

  background-color: var(--surface-1);
  color: var(--text-1);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  hanging-punctuation: first last;
}

.baseline-status-list {
  --bs-color-widely: #1e8e3e;
  --bs-color-widely-secondary: #a8dab5;

  --bs-color-newly: #1671f1;
  --bs-color-newly-secondary: #a9c1ea;

  --bs-color-limited: #ea8600;
  --bs-color-limited-secondary: #fdd663;

  --bs-color-unavailable: #d93025;

  --bs-color-unknown: #909090;

  --bs-bg-subtle: #f1f3f4;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 2rem;

  max-width: min(100%, 80ch);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: var(--size-3);

  & > * {
    align-self: center;
    inline-size: 100%;
  }
}

.baseline-status {
  border: 1px solid var(--border-color);
  border-radius: var(--size-2);
  color: var(--text-1);
}

.baseline-summary {
  display: grid;
  grid-template-columns: 18rem 1fr auto;
  gap: 2rem;
  align-items: center;

  padding: var(--size-3) var(--size-4);
  cursor: pointer;
  list-style: none;
  background-color: var(--surface-1);
  border-radius: var(--size-2);
}
.baseline-summary:hover {
  background-color: var(--surface-2);
}
.baseline-summary::-webkit-details-marker {
  display: none;
}

.baseline-header {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  flex-wrap: wrap;
}

.baseline-title {
  font-weight: 700;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  gap: var(--size-3);

  text-decoration-skip-ink: auto;
  text-underline-offset: 0.15em;
  text-decoration-thickness: max(0.01em, 2px);
  text-decoration-line: underline;
  text-decoration-color: var(--color);
  color: color-mix(var(--text-1) 50%, var(--color));
}

/* Themes */
.baseline-status[data-status="widely"] .baseline-title {
  --color: var(--bs-color-widely);
}
.baseline-status[data-status="newly"] .baseline-title {
  --color: var(--bs-color-newly);
  --color-secondary: var(--bs-color-newly-secondary);
  --contrast-color: white;
  text-decoration-style: dotted;
  text-decoration-thickness: 4px;
}
.baseline-status[data-status="limited"] .baseline-title {
  --color: var(--bs-color-limited);
  text-decoration-style: wavy;
}
.baseline-status[data-status="unavailable"] .baseline-title {
  --color: var(--bs-color-unavailable);
  color: var(--color);
}
.baseline-status[data-status="unknown"] .baseline-title {
  --color: var(--bs-color-unknown);
  color: var(--color);
}

.baseline-badge {
  padding: var(--size-1) var(--size-4);
  font-size: 0.85em;

  letter-spacing: -0.02em;
  font-weight: 600;
  text-transform: uppercase;

  background-color: var(--color);
  color: var(--contrast-color);

  border: 1px solid var(--color-secondary);
  border-radius: var(--size-2);
}

.baseline-content {
  padding: var(--size-3);
  border-top: 1px solid var(--border-color);
  border-radius: 0 0 var(--size-2) var(--size-2);
}

.baseline-browsers {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);

  & .browser {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.browser-icon {
  width: var(--size-4);
  aspect-ratio: 1;
}
.unavailable {
  opacity: 0.3;
}

.baseline-skeleton {
  height: var(--size-5);
  background: var(--surface-2);
  border-radius: var(--size-2);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
