@layer reset, base, theme, components, utilities;

@layer theme {
  :where(:root) {
    --bs-color-widely: #1e8e3e;
    --bs-color-widely-secondary: #a8dab5;
    --bs-color-newly: #1671f1;
    --bs-color-newly-secondary: #a9c1ea;
    --bs-color-limited: #ea8600;
    --bs-color-limited-secondary: #fdd663;
    --bs-color-unavailable: #d93025;
    --bs-color-unknown: #909090;
    --bs-bg-subtle: #f1f3f4;

    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 1rem;
    --size-4: 1.5rem;
    --size-5: 2rem;

    --text-1: light-dark(hsl(0deg 0% 14%), hsl(0deg 0% 94%));
    --surface-1: light-dark(hsl(0deg 0% 94%), hsl(0deg 0% 14%));
    --surface-2: light-dark(hsl(0deg 0% 90%), hsl(0deg 0% 20%));
  }
}

@layer reset {
  :where(body) {
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@layer base {
  :where(#root) {
    isolation: isolate;
  }

  :where(code) {
    font-family:
      "Monaspace Neon",
      "FiraCode Nerd Font",
      "FiraCode Nerd Font Mono",
      "Atkinson Hyperlegible Mono",
      "MesloLGS NF",
      "Monaspace Krypton",
      inconsolata,
      fira mono,
      ui-monospace,
      droid sans mono,
      source code pro,
      cascadia code,
      dejavu sans mono,
      monospace;
  }

  :where(h1) {
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0.5em;
  }

  ::selection {
    background-color: var(--text-1);
    color: var(--surface-1);
  }
}
