.main {
  color-scheme: light dark;
  min-height: 100dvh;
  font-family: system-ui, sans-serif;

  background-color: var(--surface-1);
  color: var(--text-1);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  hanging-punctuation: first last;
}

.baselineStatusList {
  max-inline-size: min(100%, 80ch);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: var(--size-3);

  & > * {
    align-self: center;
    inline-size: 100%;
  }
}
